[submodule "third_party/wepoll"]
	path = third_party/wepoll
	url = https://github.com/piscisaureus/wepoll
[submodule "third_party/pthread-win32"]
	path = third_party/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "third_party/lsquic"]
	path = third_party/lsquic
	url = https://github.com/litespeedtech/lsquic
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc
